node_modules
.vscode
.DS_STORE

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/coverage

/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
package-lock.json
yarn.lock
shopify.app.shop-group-buy.toml
